
.input{
    margin: 10px;
}

.add{
    background-color: white;
    border: none;
    color: #f41e1e;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
}

div.goal.checked {
    background-color: grey;
    padding: 20px;
    color:white;
    margin: 0px;
    margin-left: 300px;
    margin-right: 300px;
    padding-left: 60px;
}

.formButton{
    background-color: #f41e1e;
    border: none;
    color: white;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
}

div.goal.checked::before {
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

div.goal:nth-child(even) {
    background-color: rgb(30, 160, 52);
  }

.done.checked {
    background-color: grey;
}

.name.checkedName {
    text-decoration: line-through;
}

.goal{
    padding: 20px;
    background-color: rgb(43, 226, 73);
    color:white;
    margin: 0px;
    margin-left: 300px;
    margin-right: 300px;
    padding-left: 60px;
}

.goalForm{
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    vertical-align: middle;
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: red;
    margin-top: 0px;
    padding: 30px 40px;
    color: white;
    text-align: center;
}


.title{
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    margin-bottom: 0px;
    background-color: red;
    color: white;
    height: 30px;
    vertical-align: middle;
}

.goal:hover{
    transition: 0.5s;
    transform: scale(1.25);
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.3)
}

.close{
    color: white;
    font-weight: bold;
    margin-left: 25px;
    text-align: right;
}

.new{
    background-color: red;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
}

.done{
    margin-left: 25px;
    background-color:white;
    color: rgb(43, 226, 73);
}

.nameRequired{
    color:red;
    display: none;
}

.header{
    padding-top: 40px;
    padding-bottom: 80px;
    padding: 30px 40px;
    color: white;
    text-align: center;}

.formGoalRequired{
    display: block;
}

/*.form{
    display: none;
    text-align: center;
    position:fixed;
    z-index: 1;
    left: 0;
    top:0;
    background-color: white;
    padding: 60px;

}*/

.container{
    padding: 16px;

}

.name{
    font-weight: bold;
}  


.nameRequired {
    display: none;
}
  
.nameGoal:hover + .nameRequired {
    display: block;
    color: red;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


@media (min-width: 600px) {
  
}


button{
display: inline-block;
  
border: 1px solid var(--color-border);
border-radius: 5px;
padding: calc(var(--spacing) / 2) calc(var(--spacing));
text-decoration: none;

color: var(--color-text);
background-color: var(--color-primary);}

.form {
    text-align: center;
    color: white;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
